{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Your shopping cart" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Your shopping cart" %}</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>{% trans "Image" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Remove" %}</th>
            <th>{% trans "Unit price" %}</th>
            <th>{% trans "Price" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ product.label }}</td>
                    <td>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.override }}
                            <input type="submit" value="Update">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        <form action="{% url "cart:cart_remove" product.id %}" method="post">
                            <input type="submit" value="{% trans "Remove" %}">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td class="num">${{ item.cost }}</td>
                    <td class="num">${{ item.total_cost }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>

    {% if recommended_products %}
        <div class="recommendations cart">
            <h3>{% trans "People who bought this also bought" %}</h3>
            {% for p in recommended_products %}
                <div class="item">
                    <a href="{{ p.absolute_url }}">
                        <img src="{% if p.image %}{{ p.image.url }}{% else %}
            {% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <p><a href="{{ p.absolute_url }}">{{ p.label }}</a></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">{% trans "Continue shopping" %}</a>
        <a href="{% url "orders:order_create" %}" class="button">
            {% trans "Checkout" %}
        </a>
    </p>
{% endblock %}
