{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
<header>
    <a href="/" class="logo">My shop</a>
</header>

<section id="base-nav-bar">
    <div class="cart-content">
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                Your cart:
                <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} items for {{ total_item|pluralize }}
                    PLN {{ cart.total_cost }}
                </a>
            {% else %}
                Your cart is empty.
            {% endif %}
        {% endwith %}
    </div>
</section>

<section id="content">
    {% block content %}
    {% endblock %}
</section>
</body>
</html>
